@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#!/projects">Projects</a></li>
        <li role="presentation"><a href="#!/Alerts">Alerts</a></li>
        <li role="presentation"><a href="#!/Tasks">Tasks</a></li>
    </ul>
    <ng-view></ng-view>
</div>