<div class="container">
    <div class="row">
    <div class="col-md-12">
        <h2>Add Project</h2>
    </div>
    </div>
        <form name="projectform">
            <div class="row">
                <div class="form-group">
                    <label for="exampleInputEmail">Project Title</label>
                    <input type="text" class="form-control" id="projectTitle" placeholder="Title" required ng-model="project.Title" >
                </div>
                <div class="form-group">
                    <label for="exampleInputStartDate">Project Start Date</label>
                    <input type="date" class="form-control" id="projectStartDate" placeholder="Start Date" ng-pattern="/\d\d\d\d-\d\d-\d\d/" required ng-model="project.StartDate">
                </div>
                <div class="form-group">
                    <label for="exampleInputStartDate">Project Due Date</label>
                    <input type="date" class="form-control" id="projectDueDate" placeholder="Due Date" ng-pattern="/\d\d\d\d-\d\d-\d\d/" required ng-model="project.DueDate">
                </div>
            
                <div class="form-group">
                    <label for="exampleInputStartDate">Status</label>
                    <select required ng-model="project.Status" class="dropdown dropdown-toggle">
                        <option value="N">New</option>
                        <option value="I">In Progress</option>
                        <option value="C">Complete</option>
                        <option value="X">Cancelled</option>
                        }
                    </select>
                
                </div>
                <div class="form-group">
                    <label for="exampleInputStartDate">Priority</label>
                    <select required ng-model="project.Priority"  class="dropdown dropdown-toggle">
                        <option value="L">Low</option>
                        <option value="M">Medium</option>
                        <option value="H">High</option>
                    </select>
          
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                   <button type="submit"  ng-disabled="projectform.$invalid" ng-click="AddProject(project,projectform)"  class="btn btn-primary">{{EditLabel}}</button>
                </div>
                <div  class="col-md-3">
                    <button type="button" ng-disabled="projectform.$invalid" ng-click="ReturnHome()" class="btn btn-warning">Cancel</button>

                </div>

            </div>
        </form>
    </div>